body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
ul{
	margin-top: -10px ;
	margin-left: -10px;
	margin-right: -10px;
	background-color:black;
	overflow: hidden;
	padding: 10px;
    width: auto;
}
a{
	display: block;
	padding: 8px;
}
li:hover{
	background-color:orange;
	color:black;
}

li a{
	display: inline;
	color:white;
	text-decoration: none;
}

li{
	font-family:'Indie Flower', cursive;
	display: inline;
	padding: 5px ;
	text-align: center;
    font-size: 16px;
    border-right: 1px double white;
}
li:last-child{
	border-right: none;
}
.box{
  font-size: 20px;
  color: white;
  margin:0 ;
  width:auto;
  height: 550px;
  padding:20px;
  background-color:rgba(255, 255, 255,0.5);
  border:2px solid #333;
  border-radius: 10px
}
.active{
background-color:red;
color:white;
	}
.quiz{
display: none;
}
.img{
background-color: rgb(40,40,40);
margin-left: 70px;
margin-top: 10px;
position: absolute;
background-image: url('me.jpg');
background-size: 100%;
width: 250px;
height: 250px;
border:20px solid rgb(40,40,40) ;
border-radius: 10px;
}
.intro{
	position:absolute;
	margin:350px 10px 0px 10px;
	font-size: 20px;
	color:black;
	font-weight: bold;
	font-family: Courier New;}
.web{
font-family:Bookman;
color:black;
font-size: 35px;
margin-left:-50px; 
margin-top: 30px;
font-weight:bold;	
}
.half{
margin-top: 250px ;
position:absolute;
background-image: url('bas.png');
height: 900px;
width: 490px;
}

@media only screen and (min-width:1200px) {
ul{
	margin-top: -10px ;
	margin-left: -10px;
	margin-right: -10px;
	background-color:black;
	overflow: hidden;
	padding: 10px;

}
a{
	display: block;
	padding: 8px;
}
li:hover{
	background-color:orange;
	color:black;
}

li a{
	display: inline;
	color:white;
	text-decoration: none;
}

li{
	font-family:'Indie Flower', cursive;
	display: inline;
	padding: 50px ;
	text-align: center;
    font-size: 30px;
    border-right: 1px double white;
    border-bottom: 1px double white;
    
}
li:last-child{
	border-right: none;
}
.box{
  font-size: 20px;
  color: white;
  margin:0 ;
  width:800px;
  height: 550px;
  padding:20px;
  background-color:rgba(255, 255, 255,0.5);
  border:2px solid #333;
  border-radius: 10px
}
.active{
background-color:red;
color:white;
	}
.quiz{
display: none;
}
.img{
background-color: rgb(40,40,40);
margin-left: 10px;
margin-top: 50px;
position: absolute;
background-image: url('me.jpg');
background-size: 100%;
width: 350px;
height: 350px;
border:20px solid rgb(40,40,40) ;
border-radius: 10px;
}
.intro{
	position: absolute;
	margin:100px 100px 100px 500px;
	font-size: 20px;
	color:white;
	font-family: Courier New;
}
.web{
font-family:Bookman;
font-size: 35px;
margin-top: 50px;
margin-left:-650px; 
color: black;

}
.half{
margin-top: 300px ;
position:absolute;
background-image: url('bas.png');
height: 430px;
width: 1500px;
}

}
